body {
    background-color: lightblue;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
}

.header {
    background-color: blue;
    font-family: cursive;
    padding: 2em;
}

#techSkills {
    border: 5px solid red;
}

#icon {
    width:50px;
    margin-bottom: 1em;
}

@keyframes icon {
    from {width: 50px;}
    to {width: 100px;}
}

#icon:hover {
    width: 100px;
    animation: icon;
    animation-duration: 5s;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: wheat;
}

h3 {
    text-align: center;
    font-weight: bold;
    margin: 1.5em;
}

ul {
    text-align: center;
    margin: 1.2;
}

footer {
    padding: .8em;
    margin: 1em;
    background-color: wheat;
    font-size: 2em;
}

